/**
 *  Navigation Decoration
 */

// top level nav items
nav {
	&.main {
		a {
			color: $color-light;
			padding: $size-tiny $size-small;
	
			&:hover {
				color: $color-accent;
			}
		}
	}

	&.mobile {
		.icon {
			//
		}

		.inner {
			background-color: $color-muted;
		}

		.menu {
			list-style-type: none;
			margin-bottom: $size-small;
			margin-top: $size-small;

			.item {
				margin-left: 0;
				padding: $size-tiny $size-small;

				&:hover {
					background-color: $color-primary;

					a {
						color: $color-light;
					}
				}
				
				a {
					padding: $size-tiny $size-small;
			
					&:hover {
						color: $color-light;
					}
				}
			}
		}
	}
}