/**
 *  Navigation Structure
 */

nav {
	&.main {
		@extend %flex;
		@extend %justify-end;
		@extend %align-center;

		position: relative;

		@include at_mobile {
			display: none;
		}
	}

	&.mobile {
		position: relative;

		.icon {
			//
		}

		.inner {
			position: absolute;
			right: 0;
			top: -9999px;
			z-index: 1;

			&.active {
				top: 100%;
			}
		}

		.menu {
			min-width: 200px;
		}

		@include at_tablet {
			display: none;
		}

		@include at_desktop {
			display: none;
		}
	}
}