//
// Main View Styles
//

// ----- Page
.page {
    padding: $size-medium;

    &.recipe {
        padding: 0;

        .inner {
            padding: $size-medium;
        }
    }
}

// ----- Home Page
.home {
    @extend %flex;
    @extend %flex-wrap;
    @extend %justify-between;
    @extend %align-top;

    .main {
        flex-basis: calc(66%);
    }

    .sidebar {
        flex-basis: calc(33% - $size-medium);
    }

    @media screen and (max-width:670px) {
        .main,
        .sidebar {
            flex-basis: 100%;
        }
    }
}