//
// Main View Styles
//


// ----- Recipe Page
.recipe.page {
    .hero {
        &.condensed.section {
            height: 200px;
            padding: 0;
            position: relative;

            &:after {
                content: '';
                background-color: $color-dark;
                display: block;
                height: 200px;
                left: 0;
                opacity: 0.56;
                position: absolute;
                top: 0;
                width: 100%;
                z-index: 1;
            }
        }

        .background {
            object-fit: cover;
            object-position: center center;
            position: absolute;
            width: 100%;
            z-index: 0;
        }

        .title {
            color: $color-light;
            position: relative;
            z-index: 2;

            h1 {
                margin-bottom: 0;
            }
        }
    }

    .inner {
        .content {
            @extend %flex;
            @extend %justify-between;
            @extend %align-top;
            margin-bottom: $size-large;

            .ingredients {
                flex-basis: calc(25% - $size-mini);
            }

            .steps {
                flex-basis: calc(75% - $size-mini);
            }

            @include at_mobile {
                flex-wrap: wrap;

                .ingredients,
                .steps {
                    flex-basis: 100%;
                }

                .ingredients {
                    margin-bottom: $size-small;
                }
            }
        }
    }
}