/**
 *  Recipe Card Variation
 *	Author: Scott Thrall
 *	Created June 2022
 *	Last Revision: 2022-06-03
 *
 *	Change Log
 *	2022-06-03:
 *		* created styling for recipe cards
 */

.recipe.card {
    background-color: $color-accent;
    border-top-left-radius: 0;
    box-shadow: none;
    margin-top: $size-huge;
    overflow: initial;
    position: relative;

    &:first-of-type {
        margin-top: $size-big;
    }

    .title {
        background-color: $color-accent;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        display: inline;
        padding: $size-small $size-small $size-medium;
        position: absolute;
        top: -$size-big;

        h3 {
            margin: 0;
        }
    }

    .inner {
        @extend %flex;
        @extend %justify-start;
        @extend %align-top;

        @include at_mobile {
            flex-wrap: wrap;

            .content {
                padding-left: $size-small;
                padding-right: $size-small;
            }
        }
    }

    .actions {
        flex-basis: 150px;
        padding: $size-small;

        .image {
            height: 150px;
            margin-bottom: $size-small;
            padding: 0;
            width: 150px;

            img {
                object-fit: cover;
                object-position: center center;
            }
        }

        .action {
            text-align: center;
        }
    }

    .content {
        text-align: left;
    }

    .ingredients {
        margin-bottom: $size-medium;
    }
}