/**
 *  Footer Widget - Contact
 *
 *    NOTE: general gform overrides are in collections/forms
 */

// general
.footer-widgets .footer-widgets-1 {
	overflow: hidden;
	transition: margin-bottom $transition-time $transition-type;

	.gform_widget {
		background-color: $color-muted;
		box-shadow: 0 7px 12px -8px $color-dark inset,
					0 -7px 12px -8px $color-dark inset;
		height: 0;
		text-align: center;
		transform-origin: top;
		transform: scaleY(0);
		transition: all $transition-time $transition-type;
		width: 100%;
	}

	&.widget-open {
		margin-bottom: 0;

		.gform_widget {
			height: auto;
			margin-top: $size-large / 2;
			margin-bottom: $size-large / 2;
			transform: scaleY(1);

			.widget-wrap {
				@extend .contain;
				padding-top: $size-large;
				padding-bottom: $size-large;
			}

			.footer-contact-form {
				box-sizing: border-box;
				margin: 0 auto;
				max-width: 100%;
				width: 400px;
			}
		}
	}
}
