<template>
    <div class="create page">
        <CreateRecipe/>
    </div>
</template>

<script>
import CreateRecipe from '../components/CreateRecipe.vue'

export default {
    name: 'CreateView',
    components: {
        CreateRecipe
    }
}
</script>
