<template>
    <div class="edit page">
        <EditRecipe/>
    </div>
</template>

<script>
import EditRecipe from '../components/EditRecipe.vue'

export default {
    name: 'EditView',
    components: {
        EditRecipe
    }
}
</script>
