<template>
  <div class="home page">
    <div class="main">
      <RecipeArchive/>
    </div>
    <div class="sidebar">
      <RecipeList/>
    </div>
  </div>
</template>

<script>
import RecipeArchive from '../components/RecipeArchive.vue'
import RecipeList from '../components/RecipeList.vue'

export default {
  name: 'HomeView',
  components: {
    RecipeArchive,
    RecipeList
  }
}
</script>
