<template>
    <div class="recipe page" :id="id">
        <div class="condensed hero section">
            <img :src="recipe.image" class="background">
            <div class="title">
                <h1>{{ recipe.name }}</h1>
            </div>
        </div>
        <div class="inner">
            <div class="content">
                <aside class="ingredients">
                    <h3>Ingredients</h3>
                    <div v-for="ingredient in recipe.ingredients" :key="ingredient.value">
                        <p><strong>{{ ingredient.value }}</strong></p>
                    </div>
                </aside>
                <div class="steps">
                    <h3>Steps</h3>
                    <div v-for="(step, index) in recipe.steps" :key="step.value">
                        <p>{{ index + 1 }}. {{ step.value }}</p>
                    </div>
                </div>
            </div>
            <div class="align-center">
                <router-link class="small primary button" style="display:inline;margin-right:1.3rem;" :to="{ name: 'edit', params: { id: recipe._id }}">Edit Recipe</router-link>
                <button class="small danger button" @click="deleteRecipe(id)">Delete Recipe</button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'RecipeView',
    props: [ 'id' ],
    data() {
        return {
            recipe: {}
        }
    },
    created() {
        let uri = `http://localhost:3000/api/recipes/${this.$route.params.id}`;
        this.axios.get(uri).then(res => {
            this.recipe = res.data
        });
    },
    methods: {
        deleteRecipe(id) {
            let uri = `http://localhost:3000/api/recipes/${id}`;
            this.axios.delete(uri).then(() => {
                console.log('Recipe deleted')
                this.$router.push({ name: 'home' })
            });
        }
    }
}
</script>

<style>

</style>