<template>
    <div class="edit recipe">
        <form id="recipeForm" @submit.prevent="editRecipe">
            <div class="form header">
                <h3>Edit {{ recipe.name }}</h3>
            </div>
            <div class="form body">
                <div class="input field">
                    <input type="text" v-model="recipe.name" placeholder="Name" required>
                </div>
                <div class="input field">
                    <input type="file" multiple="false" accept="image/*" @change="updateImage($event)" required>
                    <div class="preview" v-if="previewImage">
                        <img :src="previewImage" alt="image upload preview">
                    </div>
                    <div class="image" v-else>
                        <img :src="recipe.image" alt="image upload preview">
                    </div>
                </div>
                <div v-for="(ingredient, index) in recipe.ingredients" :key="`ingredient-${index}`" class="multiple input field">
                    <input type="text" placeholder="Ingredient" v-model="recipe.ingredients[index].value">
                    <span class="input button success" @click="addField(input, recipe.ingredients)">&#9547;</span>
                    <span class="input button danger" v-show="recipe.ingredients.length > 1" @click="removeField(index, recipe.ingredients)">&#9472;</span>
                </div>
                <div v-for="(step, index) in recipe.steps" :key="`step-${index}`" class="multiple input field">
                    <input type="text" placeholder="Step" v-model="recipe.steps[index].value">
                    <span class="input button success" @click="addField(input, recipe.steps)">&#9547;</span>
                    <span class="input button danger" v-show="recipe.steps.length > 1" @click="removeField(index, recipe.steps)">&#9472;</span>
                </div>
            </div>
            <div class="form footer">
                <input type="submit" value="Update Recipe">
            </div>
        </form>
    </div>
</template>

<script>
export default {
    data(){
        return {
            recipe: {},
            previewImage: ''
        }
    },
    created() {
        let uri = `http://localhost:3000/api/recipes/${this.$route.params.id}`
        this.axios.get(uri)
            .then(res => {
                this.recipe = res.data
            })
    },
    methods: {
        updateImage(e) {
            let image = e.target.files[0]
            let imageObj = new FormData()

            this.previewImage = URL.createObjectURL(image)

            imageObj.append("imageName", "image-" + Date.now())
            imageObj.append("imageData", image)

            this.axios.post('http://localhost:3000/api/image/upload', imageObj)
                .then((res) => {
                    if (res.data.success) {
                        console.log("Image uploaded successfully")
                        this.recipe.image = "http://localhost:3000/uploads/" + image.name
                    }
                })
                .catch(err => console.log(err.response.data))
        },
        addField(value, fieldType) {
            fieldType.push({ value: "" })
        },
        removeField(index, fieldType) {
            fieldType.splice(index, 1)
        },
        editRecipe() {
            const uri = `http://localhost:3000/api/recipes/${this.$route.params.id}`
            this.axios.put(uri, this.recipe)
                .then(() => {
                    this.$router.push({ name: 'home' })
                })
                .catch(err => console.log(err.response.data.message))
        }
    }
}
</script>

<style>

</style>