<template>
    <div class="recipe list">
        <h2>Recipes</h2>
        <div v-for="recipe in recipes" :key="recipe.name">
            <router-link :to="{ name: 'recipe', params: { id: recipe._id } }">{{ recipe.name }}</router-link>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            recipes: []
        }
    },
    created() {
        let uri = 'http://localhost:3000/api/recipes';
        this.axios.get(uri).then(response => {
            this.recipes = response.data;
        });
    }
}
</script>

<style>

</style>