<template>
    <div class="recipe card">
        <div class="title">
            <h3>{{ recipe.name }}</h3>
        </div>
        <div class="inner">
            <div class="actions">
                <div class="image">
                    <img :src="recipe.image">
                </div>
                <div class="action">
                    <router-link class="button button-primary" :to="{ name: 'recipe', params: { id: recipe._id }}">View Recipe</router-link>
                </div>
            </div>
            <div class="content">
                <div class="ingredients">
                    <h5>Ingredients</h5>
                    <div class="ingredient" v-for="ingredient in recipe.ingredients.slice(0,3)" :key="ingredient">
                        {{ ingredient.value }}
                    </div>
                    <span>&hellip;</span>
                </div>
                <div class="steps">
                    <h5>Steps</h5>
                    <div class="step" v-for="(step, index) in recipe.steps.slice(0,2)" :key="step">
                        {{ index + 1 }}. {{ step.value }}
                    </div>
                    <span>&hellip;</span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: [ 'recipe' ]
}
</script>

<style>

</style>