<template>
    <div class="recipes">
        <RecipeCard :recipe="recipe" v-for="recipe in recipes" :key="recipe.id"/>
    </div>
</template>

<script>
import RecipeCard from './RecipeCard.vue'

export default {
    data() {
        return {
            recipes: []
        }
    },
    components: {
        RecipeCard
    },
    created() {
        let uri = 'http://localhost:3000/api/recipes';
        this.axios.get(uri).then(response => {
            this.recipes = response.data;
        });
    }
}
</script>

<style>

</style>