<template>
  <header>
    <div class="logo">
      <h4 style="margin-bottom:0;">&#127791; Recipe Book</h4>
    </div>
    <nav class="main">
      <router-link to="/">Home</router-link>
      <router-link to="/about">About</router-link>
      <router-link to="/create">New Recipe</router-link>
    </nav>
    <nav class="mobile">
      <div class="icon" @click="activateMenu">Menu</div>
      <div class="inner" id="menuInner">
        <ul class="menu">
          <li class="item">
            <router-link to="/">Home</router-link>
          </li>
          <li class="item">
            <router-link to="/about">About</router-link>
          </li>
          <li class="item">
            <router-link to="/create">New Recipe</router-link>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <router-view/>
</template>

<script>
  export default {
    methods: {
      activateMenu() {
        const inner = document.getElementById('menuInner')

        if (!inner.classList.contains('active')) {
          inner.classList.add('active')
        } else {
          inner.classList.remove('active')
        }
      }
    }
  }
</script>

<style lang="scss">
//
</style>
